$white: #ffffff;
$black: #000000;

// map
$font: ("xs": .6em, "sm": .8em, "md": 1em, "lg": 1.5em, "xl": 2em);
$em: ("xs": .5em, "sm": 1em, "md": 1.5em, "lg": 2em, "xl": 2.5em);

// widows
$windows-border: 7px;
$windows-lt-color: #eef4f9;
$windows-dt-color: #061125;
$windows-dt-color-8: #061125d4;