<!-- Desktop inner -->
<header aria-labelledby="desktop" hidden>Display</header>

	<div class="content">
		<button type="button" class="folder btn w-btn">
			<div class="icon">
				<img class="img-fluid" src="/public/images/windows/icons/Trash Empty.ico" alt="trash">
			</div>
			<div class="title">
				<h5>Recycle Bin</h5>
			</div>
		</button>
		<button type="button" data-w-btn="projects" class="folder btn w-btn">
			<div class="icon">
				<img class="img-fluid" src="/public/images/windows/icons/Computer.ico" alt="my projects">
			</div>
			<div class="title">
				<h5>My Computer</h5>
			</div>
		</button>
		<button type="button" data-w-btn="aboutMe" class="folder btn w-btn">
			<div class="icon">
				<img class="img-fluid" src="/public/images/windows/icons/notepad.png" alt="about me">
			</div>
			<div class="title">
				<h5>About Me</h5>
			</div>
		</button>
		<button type="button" class="folder btn w-btn">
			<div class="icon">
				<img class="img-fluid" src="/public/images/windows/icons/vscode.png" alt="my skills">
			</div>
			<div class="title">
				<h5>vsCode</h5>
			</div>
		</button>

	</div>

	<nav>
		<div class="empty"></div>
		<div class="taskbar">
			<button class="btn w-btn">
				<img class="img-fluid" src="/public/images/windows/icons/windows.png" alt="windows"
					srcset="/public/images/windows/icons/windows.png">
			</button>
			<button class="btn w-btn">
				<img class="img-fluid" src="/public/images/windows/icons/search.jpg" alt="search"
					srcset="/public/images/windows/icons/search.jpg" style="transform: rotateY(180deg)">
			</button>
			<button class="btn w-btn">
				<img class="img-fluid" src="/public/images/windows/icons/Explorer.ico" alt="Explorer"
					srcset="/public/images/windows/icons/Explorer.ico">
			</button>
			<button class="btn w-btn">
				<img class="img-fluid" src="/public/images/windows/icons/vscode.png" alt="vscode"
					srcset="/public/images/windows/icons/vscode.png">
			</button>
			<button class="btn w-btn">
				<img class="img-fluid" src="/public/images/windows/icons/Folder OneDrive.ico" alt="Folder OneDrive"
					srcset="/public/images/windows/icons/Folder%20OneDrive.ico">
			</button>
			<button class="btn w-btn">
				<img class="img-fluid" src="/public/images/windows/icons/chrome.png" alt="contact me"
					srcset="/public/images/windows/icons/chrome.png">
			</button>
		</div>
		<div class="options"></div>
	</nav>
<!-- end desktop inner -->