<!-- my computer inner -->
<header aria-labelledby="project">
	<div class="title">
		<div class="heading">
			<h3>
				<img class="img-fluid me-1" src="/public/images/windows/icons/Folder.ico"
					srcset="/public/images/windows/icons/Folder.ico" alt="my projects">
				My Computer
			</h3>
		</div>
		<div class="option">
			<span>&ndash;</span>
			<span>&EmptySmallSquare;</span>
			<span data-w-btn="projects">&times;</span>
		</div>
	</div>
	<nav>
		<div class="d-flex">
			<ul class="nav">
				<li class="nav-item">
					<a href="#x" class="nav-link">&CirclePlus; New &blacktriangledown;</a>
				</li>
			</ul>
			<ul class="nav">
				<li class="nav-item">
					<a href="#x" class="nav-link">Edit</a>
				</li>
				<li class="nav-item">
					<a href="#x" class="nav-link">&mod</a>
				</li>
				<li class="nav-item">
					<a href="#x" class="nav-link">View</a>
				</li>
				<li class="nav-item">
					<a href="#x" class="nav-link">View</a>
				</li>
				<li class="nav-item">
					<a href="#x" class="nav-link">View</a>
				</li>
				<li class="nav-item">
					<a href="#x" class="nav-link">View</a>
				</li>
			</ul>
			<ul class="nav">
				<li class="nav-item">
					<a href="#x" class="nav-link">&CirclePlus; New &blacktriangledown;</a>
				</li>
				<li class="nav-item">
					<a href="#x" class="nav-link">&CirclePlus; New &blacktriangledown;</a>
				</li>
			</ul>
			<ul class="nav">
				<li class="nav-item">
					<a href="#x" class="nav-link">&ctdot;</a>
				</li>
			</ul>
		</div>
	</nav>
</header>

<div class="body">
	<nav>
		<div class="navigator">
			<span>
				&LeftArrow;
			</span>
			<span>
				&rightarrow;
			</span>
			<span>
				&blacktriangledown;
			</span>
			<span>
				&uparrow;
			</span>
		</div>
		<div class="navigator">
			<div class="">

				<img class="img-fluid me-1" src="/public/images/windows/icons/Folder.ico"
					srcset="/public/images/windows/icons/Folder.ico" alt="my projects">
				&blacktriangleright;
				ewomaetemire.com
				&blacktriangleright;
				projects
			</div>
			<div class="option">
				&blacktriangledown;
				&circlearrowright;
			</div>
		</div>
		<div class="navigator">
			<img class="img-fluid" src="/public/images/windows/icons/Search.ico"
				srcset="/public/images/windows/icons/Search.ico" alt="search">
			<input type="search" class="form-control" name="explorer" id="projectSearch"
				placeholder="Search My Computer">
		</div>
	</nav>
	<div class="content row">
		<div class="col-3">
			<div class="flex-shrink-0 bg-white">
				<ul class="list-unstyled ps-0">
					<li class="mb-1">
						<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
							data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
							&blacktriangledown;
							<img class="img-fluid" src="/public/images/windows/icons/Quick Access.ico"
								srcset="/public/images/windows/icons/Quick Access.ico" alt="home">
							Quick Access
						</button>
						<div class="collapse show" id="home-collapse">
							<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
								<li>
									<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">
										<img class="img-fluid" src="/public/images/windows/icons/Desktop.ico"
											srcset="/public/images/windows/icons/Desktop.ico" alt="Desktop">
										Desktop
									</a>
								</li>
								<li>
									<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">
										<img class="img-fluid" src="/public/images/windows/icons/Folder Downloads.ico"
											srcset="/public/images/windows/icons/Folder Downloads.ico" alt="Downloads">
										Downloads
									</a>
								</li>
								<li>
									<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">
										<img class="img-fluid" src="/public/images/windows/icons/Folder Documents.ico"
											srcset="/public/images/windows/icons/Folder Documents.ico" alt="Documents">
										Documents
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="mb-1">
						<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
							data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
							&blacktriangledown;
							<img class="img-fluid" src="/public/images/windows/icons/One Drive.ico"
								srcset="/public/images/windows/icons/One Drive.ico" alt="OneDrive">
							OneDrive
						</button>
						<div class="collapse" id="dashboard-collapse">
							<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
								<li>
									<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">
										<img class="img-fluid" src="/public/images/windows/icons/Folder OneDrive.ico"
											srcset="/public/images/windows/icons/Folder OneDrive.ico" alt="OneDrive">
										Documents
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="mb-1">
						<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
							data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
							&blacktriangledown;
							<img class="img-fluid" src="/public/images/windows/icons/Computer.ico"
								srcset="/public/images/windows/icons/Computer.ico" alt="This Pc">
							This PC
						</button>
						<div class="collapse" id="orders-collapse">
							<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
								<li>
									<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">
										<img class="img-fluid" src="/public/images/windows/icons/Folder 3D.ico"
											srcset="/public/images/windows/icons/Folder 3D.ico" alt="3D Object">
										3D Object
									</a>
								</li>
								<li>
									<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">
										<img class="img-fluid" src="/public/images/windows/icons/Desktop.ico"
											srcset="/public/images/windows/icons/Desktop.ico" alt="Desktop">
										Desktop
									</a>
								</li>
								<li>
									<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">
										<img class="img-fluid" src="/public/images/windows/icons/Folder Documents.ico"
											srcset="/public/images/windows/icons/Folder Documents.ico" alt="Documents">
										Documents
									</a>
								</li>
								<li>
									<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">
										<img class="img-fluid" src="/public/images/windows/icons/Folder Downloads.ico"
											srcset="/public/images/windows/icons/Folder Downloads.ico" alt="Downloads">
										Downloads
									</a>
								</li>
								<li>
									<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">
										<img class="img-fluid" src="/public/images/windows/icons/Music file.ico"
											srcset="/public/images/windows/icons/Music file.ico" alt="Music">
										Music
									</a>
								</li>
								<li>
									<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">
										<img class="img-fluid" src="/public/images/windows/icons/Pictures file.ico"
											srcset="/public/images/windows/icons/Pictures file.ico" alt="Pictures">
										Picture
									</a>
								</li>
								<li>
									<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">
										<img class="img-fluid" src="/public/images/windows/icons/Video file.ico"
											srcset="/public/images/windows/icons/Video file.ico" alt="Video">
										Video
									</a>
								</li>
								<li>
									<a href="#" class="link-dark d-inline-flex text-decoration-none rounded">
										<img class="img-fluid" src="/public/images/windows/icons/Hardware.ico"
											srcset="/public/images/windows/icons/Hardware.ico" alt="Local Disk (C:)">
										Local Disk (C:)
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="mb-1">
						<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
							data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
							&blacktriangledown;
							<img class="img-fluid" src="/public/images/windows/icons/Network.ico"
								srcset="/public/images/windows/icons/Network.ico" alt="OneDrive">
							Network
						</button>
						<div class="collapse" id="account-collapse">
							<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
								<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New...</a>
								</li>
								<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Profile</a>
								</li>
								<li><a href="#"
										class="link-dark d-inline-flex text-decoration-none rounded">Settings</a></li>
								<li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Sign
										out</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-9">body</div>
	</div>
</div>
<!-- my computer inner end -->